20190110 Aquarea cloud - set en get.nodered
[{"id":"c61d6a73.c55788","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"d7f51326.fd615","type":"influxdb","z":"4656b25f.76fa2c","hostname":"127.0.0.1","port":"8086","database":"Panasonic","name":"Panasonic","usetls":false,"tls":""},{"id":"7409323c.8bf6cc","type":"mqtt-broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":15,"cleansession":true,"willQos":"0","birthQos":"0"},{"id":"266d345d.cff7fc","type":"function","z":"4656b25f.76fa2c","name":"Store values globally","func":"// check if there's a valid response, if so set the initial values\nif (msg.payload.settingDataInfo[\"function-setting-user-select-003\"].selectedValue){\n    context.global.panasonic.wpOnOff = msg.payload.settingDataInfo[\"function-setting-user-select-003\"].selectedValue;\n    context.global.panasonic.wpTargetTemp = msg.payload.settingDataInfo[\"function-setting-user-select-008\"].selectedValue; \n    context.global.panasonic.wpSilentMode = msg.payload.settingDataInfo[\"function-setting-user-select-028\"].selectedValue;\n}        \nreturn msg;","outputs":1,"noerr":0,"x":1148,"y":463,"wires":[[]]},{"id":"e42cf708.dde568","type":"function","z":"4656b25f.76fa2c","name":"prepare get current settings","func":"msg.payload = \" 'https://aquarea-service.panasonic.com/installer/api/function/setting/get' -H 'Pragma: no-cache' -H 'Origin: https://aquarea-service.panasonic.com' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Cache-Control: no-cache' -H 'X-Requested-With: XMLHttpRequest' -H 'Cookie: selectedGwid=\"+ context.global.panasonic.Gwid+\"; selectedDeviceId=\"+ context.global.panasonic.deviceId +\"; enduserId=\"+ context.global.panasonic.enduserId +\";' -H 'Connection: keep-alive' -H 'Referer: https://aquarea-service.panasonic.com/installer/functionSetting' --data 'var.deviceId=\"+ context.global.panasonic.deviceId +\"&shiesuahruefutohkun=\"+ context.global.panasonic.shiesuahruefutohkun +\"' --compressed\";\nreturn msg;\n    \n","outputs":1,"noerr":0,"x":505,"y":462,"wires":[["c484d7f0.7a4bd8"]]},{"id":"c484d7f0.7a4bd8","type":"exec","z":"4656b25f.76fa2c","command":"curl -b /tmp/cookie.txt","addpay":true,"append":"","useSpawn":"","name":"Ophalen GET","x":765,"y":462,"wires":[["c645ba42.4ec498"],[],[]]},{"id":"c645ba42.4ec498","type":"json","z":"4656b25f.76fa2c","name":"","x":955,"y":462,"wires":[["266d345d.cff7fc"]]},{"id":"7bcad25.ad7592c","type":"inject","z":"4656b25f.76fa2c","name":"Every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":136.85705947875977,"y":736.1428699493408,"wires":[["7e3d83c7.fe17cc"]]},{"id":"2abf8bd.f217374","type":"debug","z":"4656b25f.76fa2c","name":"","active":false,"console":"false","complete":"payload","x":1157.634822845459,"y":687.587345123291,"wires":[]},{"id":"3eb8cb08.b4eaa4","type":"exec","z":"4656b25f.76fa2c","command":"curl ","addpay":true,"append":"","useSpawn":"","name":"get status data","x":585.9681739807129,"y":751.1428852081299,"wires":[["9f4c6bbc.d757b8"],[],[]]},{"id":"9f4c6bbc.d757b8","type":"json","z":"4656b25f.76fa2c","name":"","x":755.1903419494629,"y":757.4762201309204,"wires":[["53a37e8c.05ac9"]]},{"id":"1461269e.f2d459","type":"function","z":"4656b25f.76fa2c","name":"Create messages to domoticz","func":"ret = msg.payload;\n\n\nmsg1 = {};\nmsg1.payload = {};\nmsg1.payload.idx = 1605; \nmsg1.payload.svalue = \"\"+ret.Cvaanvoertemp+\"\";\nmsg1.topic = \"domoticz/in\";\n\nmsg2 = {};\nmsg2.payload = {}\nmsg2.payload.idx = 1606; \nmsg2.payload.svalue = \"\"+ret.Cvretourtemp+\"\";\nmsg2.topic = \"domoticz/in\";\n\nmsg3 = {};\nmsg3.payload = {};\nmsg3.payload.idx = 1608; \nmsg3.payload.svalue = \"\"+ret.Compressorfrequentie+\"\";\nmsg3.topic = \"domoticz/in\";\n\nmsg4 = {};\nmsg4.payload = {};\nmsg4.payload.idx = 1609; \nmsg4.payload.svalue = \"\"+ret.Waterdebiet+\"\";\nmsg4.topic = \"domoticz/in\";\n\nmsg5 = {};\nmsg5.payload = {};\nmsg5.payload.idx = 1610; \nmsg5.payload.svalue = \"\"+ret.Buitentemp+\"\";\nmsg5.topic = \"domoticz/in\";\n\nmsg6 = {};\nmsg6.payload = {};\nmsg6.payload.idx = 1611; \nmsg6.payload.svalue = \"\"+ret.Bedrijfstijd+\"\";\nmsg6.topic = \"domoticz/in\";\n\n\nmsg7 = {};\nmsg7.payload = {};\nmsg7.payload.idx = 1612; \nmsg7.payload.svalue = \"\"+ret.Startstops+\"\";\nmsg7.topic = \"domoticz/in\";\n\nreturn [[msg1, msg2, msg3, msg4, msg5, msg6, msg7]];","outputs":"1","noerr":0,"x":1164.968173980713,"y":777.142879486084,"wires":[["8a3ccf33.d37b3"]]},{"id":"8a3ccf33.d37b3","type":"mqtt out","z":"4656b25f.76fa2c","name":"MQTT publish","topic":"","qos":"","retain":"","broker":"7409323c.8bf6cc","x":1417.523754119873,"y":833.5873003005981,"wires":[]},{"id":"6e7e5ea8.be4a9","type":"inject","z":"4656b25f.76fa2c","name":"Once a day","topic":"","payload":"","payloadType":"none","repeat":"86400","crontab":"","once":false,"x":143,"y":195,"wires":[["7b2f1a6d.f4fdc4"]]},{"id":"a31409cf.a58038","type":"debug","z":"4656b25f.76fa2c","name":"","active":false,"console":"false","complete":"true","x":1359,"y":317,"wires":[]},{"id":"7b2f1a6d.f4fdc4","type":"exec","z":"4656b25f.76fa2c","command":"curl --silent -c /tmp/cookie.txt \"https://aquarea-service.panasonic.com\"  |grep shiesuahruefutohkun |grep -Po \"(?<=')[^';\\n]*\"","addpay":true,"append":"","useSpawn":"","name":"Get session, token and cookies (in /tmp/cookie.txt)","x":445,"y":178,"wires":[["2c4f72d1.a7b51e"],[],[]]},{"id":"2c4f72d1.a7b51e","type":"function","z":"4656b25f.76fa2c","name":"shiesuahruefutohkun","func":"// get the token (shiesuahruefutohkun) which is needed in the calls to the webservices.\nvar token = msg.payload.replace(/\\n$/, '');\nvar curl = \" -b /tmp/cookie.txt -c /tmp/cookie.txt 'https://aquarea-service.panasonic.com/installer/api/auth/login' --data 'var.loginId=\"+ context.global.panasonic.username +\"&var.password=\"+ context.global.panasonic.password +\"&var.inputOmit=false&shiesuahruefutohkun=\"+ token +\"' --compressed\";\nmsg.payload = curl;\nmsg.token = token;\ncontext.global.panasonic.shiesuahruefutohkun = token;\nreturn msg;","outputs":"1","noerr":0,"x":841,"y":178,"wires":[["e3f57162.1fd86"]]},{"id":"e3f57162.1fd86","type":"exec","z":"4656b25f.76fa2c","command":"curl","addpay":true,"append":"","useSpawn":"","name":"Login bij pana","x":1074,"y":191,"wires":[["6be0ca8c.b5b794"],[],[]]},{"id":"c4c2a5b7.b581d8","type":"inject","z":"4656b25f.76fa2c","name":"Run on startup","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":163,"y":102,"wires":[["2a3e914c.1bfffe"]]},{"id":"2a3e914c.1bfffe","type":"function","z":"4656b25f.76fa2c","name":"Setup global variables and settings","func":"//Set global context and variables\nif (!context.global.panasonic) {\n  context.global.panasonic = {};\n}\ncontext.global.panasonic.username = \"xxxx\";\ncontext.global.panasonic.password = \"xxxxx\";\ncontext.global.panasonic.shiesuahruefutohkun = \"\";\ncontext.global.panasonic.deviceId = \"\";\ncontext.global.panasonic.Gwid = \"\";\ncontext.global.panasonic.gwUid = \"\";\ncontext.global.panasonic.enduserId = null;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":488,"y":93,"wires":[["7b2f1a6d.f4fdc4"]]},{"id":"6be0ca8c.b5b794","type":"function","z":"4656b25f.76fa2c","name":"prepare get users","func":"//msg.payload = \" 'https://aquarea-service.panasonic.com/installer/api/endusers'  -b /tmp/cookie.txt -c /tmp/cookie.txt -H 'Cookie: selectedGwid=\"+ context.global.panasonic.Gwid +\"; selectedDeviceId=\" + context.global.panasonic.deviceId +\"; enduserId=\"+ context.global.panasonic.enduserId +\";' -H 'Origin: https://aquarea-service.panasonic.com' --data 'var.name=&var.deviceId=&var.idu=&var.odu=&var.sortItem=userName&var.sortOrder=0&var.offset=0&var.limit=25&var.mapSizeX=438&var.mapSizeY=864&var.readNew=1&shiesuahruefutohkun=\"+msg.token+\"' --compressed\";\nmsg.payload = \" 'https://aquarea-service.panasonic.com/installer/api/endusers'  -b /tmp/cookie.txt -c /tmp/cookie.txt -H 'Origin: https://aquarea-service.panasonic.com' --data 'var.name=&var.deviceId=&var.idu=&var.odu=&var.sortItem=userName&var.sortOrder=0&var.offset=0&var.limit=25&var.mapSizeX=438&var.mapSizeY=864&var.readNew=1&shiesuahruefutohkun=\"+msg.token+\"' --compressed\";\n\nreturn msg;","outputs":1,"noerr":0,"x":262,"y":315,"wires":[["d131189a.2a1d68"]]},{"id":"d131189a.2a1d68","type":"exec","z":"4656b25f.76fa2c","command":"curl ","addpay":true,"append":"","useSpawn":"","name":"Get user information","x":517,"y":325,"wires":[["437866cc.f9a4c8"],[],[]]},{"id":"437866cc.f9a4c8","type":"json","z":"4656b25f.76fa2c","name":"","x":721,"y":322,"wires":[["123ff7c3.291008","a31409cf.a58038"]]},{"id":"123ff7c3.291008","type":"function","z":"4656b25f.76fa2c","name":"Prepare select gwid","func":"\ncontext.global.panasonic.deviceId = msg.payload.endusers[0].deviceId;\ncontext.global.panasonic.Gwid = msg.payload.endusers[0].gwid;\ncontext.global.panasonic.gwUid = msg.payload.endusers[0].gwUid;\ncontext.global.panasonic.enduserId = msg.payload.endusers[0].enduserId;\n\n\nmsg.payload = \" 'https://aquarea-service.panasonic.com/installer/functionUserInformation' -H 'Connection: keep-alive' -H 'Pragma: no-cache' -H 'Cache-Control: no-cache' -H 'Origin: https://aquarea-service.panasonic.com' -H 'Upgrade-Insecure-Requests: 1' -H 'Content-Type: application/x-www-form-urlencoded' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8' -H 'Referer: https://aquarea-service.panasonic.com/installer/home' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7' -b /tmp/cookie.txt --data 'var.functionSelectedGwUid=\"+ context.global.panasonic.gwUid +\"' --compressed\";\nreturn msg;","outputs":1,"noerr":0,"x":889,"y":356,"wires":[["cbf1a000.58369"]]},{"id":"cbf1a000.58369","type":"exec","z":"4656b25f.76fa2c","command":"curl ","addpay":true,"append":"","useSpawn":"","name":"Select device","x":1128,"y":372,"wires":[["a31409cf.a58038","e42cf708.dde568"],[],[]]},{"id":"7e3d83c7.fe17cc","type":"function","z":"4656b25f.76fa2c","name":"prepare get status data","func":"msg.payload = \" 'https://aquarea-service.panasonic.com/installer/api/function/status' -b /tmp/cookie.txt -H 'Cookie: selectedGwid=\"+ context.global.panasonic.Gwid+\"; selectedDeviceId=\"+ context.global.panasonic.deviceId +\"; enduserId=\"+ context.global.panasonic.enduserId +\";' -H 'Origin: https://aquarea-service.panasonic.com' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Referer: https://aquarea-service.panasonic.com/installer/functionStatus' -H 'X-Requested-With: XMLHttpRequest' -H 'Connection: keep-alive' --data 'var.deviceId=\"+ context.global.panasonic.deviceId +\"&shiesuahruefutohkun=\"+ context.global.panasonic.shiesuahruefutohkun+\"' --compressed\"\nreturn msg;","outputs":1,"noerr":0,"x":372.6348304748535,"y":720.5873222351074,"wires":[["3eb8cb08.b4eaa4"]]},{"id":"ac7cfd13.0e81b","type":"function","z":"4656b25f.76fa2c","name":"Create messages for openHAB","func":"ret = msg.payload;\n\nmsg1 = {};\nmsg1.payload = {};\n//        msg.payload. = \"\"+ret.+\"\";\nmsg1.payload.Bediening  =\"\"+ret.Bediening +\"\";\nmsg1.payload.Modus  =\"\"+ret.Modus +\"\";\nmsg1.payload.Cvretourtemp  =\"\"+ret.Cvretourtemp +\"\";\nmsg1.payload.Cvaanvoertemp  =\"\"+ret.Cvaanvoertemp +\"\";\nmsg1.payload.Zone1gemetentemp  =\"\"+ret.Zone1gemetentemp +\"\";\nmsg1.payload.Zone1ingesteldetemp  =\"\"+ret.Zone1ingesteldetemp +\"\";\nmsg1.payload.Zone1watertemp  =\"\"+ret.Zone1watertemp +\"\";\nmsg1.payload.Zone2gemetentemp  =\"\"+ret.Zone2gemetentemp +\"\";\nmsg1.payload.Zone2ingesteldetemp  =\"\"+ret.Zone2ingesteldetemp +\"\";\nmsg1.payload.Zone2watertemp  =\"\"+ret.Zone2watertemp +\"\";\nmsg1.payload.Dhwgemetentemp  =\"\"+ret.Dhwgemetentemp +\"\";\nmsg1.payload.Dhwingesteldetemp  =\"\"+ret.Dhwingesteldetemp +\"\";\nmsg1.payload.Buffertanktemp  =\"\"+ret.Buffertanktemp +\"\";\nmsg1.payload.Buitentemp  =\"\"+ret.Buitentemp +\"\";\n//msg1.payload.Thermo  =\"\"+ret.Thermo +\"\";\nmsg1.payload.Waterdebiet   =\"\"+ret.Waterdebiet  +\"\";\nmsg1.payload.pompsnelheid  =\"\"+ret.pompsnelheid +\"\";\nmsg1.payload.driewegklep  =\"\"+ret.driewegklep +\"\";\nmsg1.payload.Ruimteverwarming  =\"\"+ret.Ruimteverwarming +\"\";\nmsg1.payload.Tankverwarming  =\"\"+ret.Tankverwarming +\"\";\nmsg1.payload.Ontdooien  =\"\"+ret.Ontdooien +\"\";\nmsg1.payload.Zon  =\"\"+ret.Zon +\"\";\nmsg1.payload.Zontemp  =\"\"+ret.Zontemp +\"\";\nmsg1.payload.Bivalent  =\"\"+ret.Bivalent +\"\";\nmsg1.payload.Foutstatus  =\"\"+ret.Foutstatus +\"\";\nmsg1.payload.Compressorfrequentie  =\"\"+ret.Compressorfrequentie +\"\";\nmsg1.payload.Bedrijfstijd  =\"\"+ret.Bedrijfstijd +\"\";\nmsg1.payload.Startstops  =\"\"+ret.Startstops +\"\";\nmsg1.payload.Ruimteverwarmingcapaciteit  =\"\"+ret.Ruimteverwarmingcapaciteit +\"\";\nmsg1.payload.Ruimteverwarmingbedrijfstijd  =\"\"+ret.Ruimteverwarmingbedrijfstijd +\"\";\nmsg1.payload.Tankverwarmingbedrijfstijd  =\"\"+ret.Tankverwarmingbedrijfstijd +\"\";\n\nmsg1.topic = \"panasonic/out\";\n\nreturn [msg1];","outputs":1,"noerr":0,"x":1152.968173980713,"y":862.142879486084,"wires":[["8a3ccf33.d37b3"]]},{"id":"53a37e8c.05ac9","type":"function","z":"4656b25f.76fa2c","name":"Get data fields","func":"var ret = {};\n\nret.Bediening = msg.payload.statusDataInfo[\"function-status-text-005\"].textValue;\nret.Modus = msg.payload.statusDataInfo[\"function-status-text-007\"].textValue;\nret.Cvretourtemp = Number(msg.payload.statusDataInfo[\"function-status-text-009\"].value);\nret.Cvaanvoertemp = Number(msg.payload.statusDataInfo[\"function-status-text-011\"].value);\nret.Zone1gemetentemp = Number(msg.payload.statusDataInfo[\"function-status-text-013\"].value);\nret.Zone1ingesteldetemp = Number(msg.payload.statusDataInfo[\"function-status-text-015\"].value);\nret.Zone1watertemp = Number(msg.payload.statusDataInfo[\"function-status-text-017\"].value);\nret.Zone2gemetentemp = Number(msg.payload.statusDataInfo[\"function-status-text-019\"].value);\nret.Zone2ingesteldetemp = Number(msg.payload.statusDataInfo[\"function-status-text-021\"].value);\nret.Zone2watertemp = Number(msg.payload.statusDataInfo[\"function-status-text-023\"].value);\nret.Dhwgemetentemp = Number(msg.payload.statusDataInfo[\"function-status-text-025\"].value);\nret.Dhwingesteldetemp = Number(msg.payload.statusDataInfo[\"function-status-text-027\"].value);\nret.Buffertanktemp = Number(msg.payload.statusDataInfo[\"function-status-text-029\"].value);\nret.Buitentemp = Number(msg.payload.statusDataInfo[\"function-status-text-031\"].value);\n// text-033 is niet in de payload\n//ret.Thermo = msg.payload.statusDataInfo[\"function-status-text-033\"].value;\nret.Waterdebiet = Number(msg.payload.statusDataInfo[\"function-status-text-035\"].value); \nret.pompsnelheid = Number(msg.payload.statusDataInfo[\"function-status-text-037\"].value);\nret.driewegklep = msg.payload.statusDataInfo[\"function-status-text-039\"].textValue;\nret.Ruimteverwarming = msg.payload.statusDataInfo[\"function-status-text-041\"].textValue;\n//ret.Tankverwarming = msg.payload.statusDataInfo[\"function-status-text-043\"].textValue;\nret.Ontdooien = msg.payload.statusDataInfo[\"function-status-text-045\"].textValue;\nret.Zon = msg.payload.statusDataInfo[\"function-status-text-047\"].value;\nret.Zontemp = Number(msg.payload.statusDataInfo[\"function-status-text-049\"].value);\n\nret.Bivalent = msg.payload.statusDataInfo[\"function-status-text-051\"].value;\nret.Foutstatus = msg.payload.statusDataInfo[\"function-status-text-053\"].value;\nret.Compressorfrequentie = Number(msg.payload.statusDataInfo[\"function-status-text-056\"].value);\nret.Bedrijfstijd = Number(msg.payload.statusDataInfo[\"function-status-text-058\"].value);\nret.Startstops = Number(msg.payload.statusDataInfo[\"function-status-text-060\"].value);\nret.Ruimteverwarmingcapaciteit = msg.payload.statusDataInfo[\"function-status-text-063\"].value;\nret.Ruimteverwarmingbedrijfstijd = Number(msg.payload.statusDataInfo[\"function-status-text-065\"].value);\nret.Tankverwarmingbedrijfstijd = Number(msg.payload.statusDataInfo[\"function-status-text-068\"].value);\n\nmsg.payload = ret;\n\nreturn msg;","outputs":1,"noerr":0,"x":873.5237159729004,"y":809.3651065826416,"wires":[["1461269e.f2d459","ac7cfd13.0e81b","87c2a588.5f7408","2abf8bd.f217374"]]},{"id":"87c2a588.5f7408","type":"influxdb out","z":"4656b25f.76fa2c","influxdb":"d7f51326.fd615","name":"","measurement":"current","precision":"","retentionPolicy":"","x":1145.9681816101074,"y":967.4762277603149,"wires":[]},{"id":"d074a45b.e969e8","type":"inject","z":"4656b25f.76fa2c","name":"every 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":136.19039281209314,"y":1100.4761975606282,"wires":[["d826c36f.05212"]]},{"id":"7357b700.eb9e08","type":"exec","z":"4656b25f.76fa2c","command":"curl ","addpay":true,"append":"","useSpawn":"","name":"get 5 minute average","x":658.4126396179199,"y":1136.0318393707275,"wires":[["886e6cc4.35e4c"],[],[]]},{"id":"d826c36f.05212","type":"function","z":"4656b25f.76fa2c","name":"prepare get log data","func":"timestamp = (msg.payload - 600000);\nmsg.payload = \" 'https://aquarea-service.panasonic.com/installer/api/data/log' -H 'Pragma: no-cache' -H 'Origin: https://aquarea-service.panasonic.com' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Cache-Control: no-cache' -H 'X-Requested-With: XMLHttpRequest' -b /tmp/cookie.txt -H 'Cookie: selectedGwid=\"+ context.global.panasonic.Gwid+\"; selectedDeviceId=\"+ context.global.panasonic.deviceId +\"; enduserId=\"+ context.global.panasonic.enduserId +\";' -H 'Connection: keep-alive' -H 'Referer: https://aquarea-service.panasonic.com/installer/functionStatistics' --data 'var.deviceId=\"+ context.global.panasonic.deviceId +\"&var.target=0&var.startDate=\"+ timestamp +\"&var.logItems=%7B%22logItems%22%3A%5B34%2C35%2C36%2C47%2C57%2C58%2C65%2C66%5D%7D&shiesuahruefutohkun=\"+ context.global.panasonic.shiesuahruefutohkun +\"' --compressed\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":361.74594497680664,"y":1101.5872402191162,"wires":[["7357b700.eb9e08"]]},{"id":"5ae0b9a9.c469d8","type":"function","z":"4656b25f.76fa2c","name":"Create data fields","func":"tmp = {};\nlog = JSON.parse(msg.payload.logData);\n\nfirstkey = Object.keys(log)[0];\n\ntmp = log[firstkey];\n\n\nret = {};\nret.avgoutdoortemp = Number(tmp[0]);\nret.avgretourtemp = Number(tmp[1]);\nret.avgaanvoertemp = Number(tmp[2]);\nret.avgroomthermostat = Number(tmp[3]);\nret.avgfrequency = Number(tmp[4]);\nret.avgwaterdebiet = Number(tmp[5]);\nret.avgopgenomenvermogen = Number(tmp[6]);\nret.avgopgewektvermogen = Number(tmp[7]);\n\nmsg.time = firstkey;\nmsg.payload = ret;\nreturn msg;","outputs":1,"noerr":0,"x":1088.4127159118652,"y":1132.6984696388245,"wires":[["a2eb9050.943ff","81b5828b.17e3f"]]},{"id":"a2eb9050.943ff","type":"influxdb out","z":"4656b25f.76fa2c","influxdb":"d7f51326.fd615","name":"","measurement":"average","precision":"","retentionPolicy":"","x":1429.5237812466094,"y":1118.253950542874,"wires":[]},{"id":"81b5828b.17e3f","type":"debug","z":"4656b25f.76fa2c","name":"","active":false,"console":"false","complete":"true","x":1158.412670135498,"y":1027.1428394317627,"wires":[]},{"id":"886e6cc4.35e4c","type":"json","z":"4656b25f.76fa2c","name":"","x":839.5236396789551,"y":1138.2540302276611,"wires":[["5ae0b9a9.c469d8"]]},{"id":"cfcef25.61e7d1","type":"function","z":"4656b25f.76fa2c","name":"when values are changed - Prepare SET ","func":"\n//var booChanged=false;\n\nif (msg.payload.settingDataInfo[\"function-setting-user-select-003\"].selectedValue != context.global.panasonic.wpOnOff ||\n    msg.payload.settingDataInfo[\"function-setting-user-select-008\"].selectedValue != context.global.panasonic.wpTargetTemp ||\n    msg.payload.settingDataInfo[\"function-setting-user-select-028\"].selectedValue != context.global.panasonic.wpSilentMode ) {\n        \n    var info = \"Value(s) changed : \" &\n        msg.payload.settingDataInfo[\"function-setting-user-select-003\"].selectedValue & \"-\" + context.global.panasonic.wpOnOff & \" | \" & \n        msg.payload.settingDataInfo[\"function-setting-user-select-008\"].selectedValue + \"-\" + context.global.panasonic.wpTargetTemp +  \" | \" +\n        msg.payload.settingDataInfo[\"function-setting-user-select-028\"].selectedValue + \"-\" + context.global.panasonic.wpSilentMode;\n\n    var Newpayload = \" 'https://aquarea-service.panasonic.com/installer/api/function/setting/user/set' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Referer: https://aquarea-service.panasonic.com/installer/functionSettingProgress' -H 'Origin: https://aquarea-service.panasonic.com' -H 'X-Requested-With: XMLHttpRequest' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' --data '\" + \n    \"var.userSelect003=\" + context.global.panasonic.wpOnOff + // OnOff\n    \"&var.userSelect005=\" + msg.payload.settingDataInfo[\"function-setting-user-select-005\"].selectedValue +\n    \"&var.userSelect008=\" + context.global.panasonic.wpTargetTemp + // Temp\n    \"&var.userSelect013=\" + msg.payload.settingDataInfo[\"function-setting-user-select-013\"].selectedValue +\n    \"&var.userSelect018=\" + msg.payload.settingDataInfo[\"function-setting-user-select-018\"].selectedValue +\n    \"&var.userSelect020=\" + msg.payload.settingDataInfo[\"function-setting-user-select-020\"].selectedValue +\n    \"&var.userSelect022=\" + msg.payload.settingDataInfo[\"function-setting-user-select-022\"].selectedValue +\n    \"&var.userSelect023=\" + msg.payload.settingDataInfo[\"function-setting-user-select-023\"].selectedValue +\n    \"&var.userSelect026=\" + msg.payload.settingDataInfo[\"function-setting-user-select-026\"].selectedValue +\n    \"&var.userSelect028=\" + context.global.panasonic.wpSilentMode +// Silent mode\n    \"&var.userSelect030=\" + msg.payload.settingDataInfo[\"function-setting-user-select-030\"].selectedValue +\n    \"&var.userSelect032=\" + msg.payload.settingDataInfo[\"function-setting-user-select-032\"].selectedValue +\n    \"&var.userSelect036=\" + msg.payload.settingDataInfo[\"function-setting-user-select-036\"].selectedValue +\n    \"&var.userSelect038=\" + msg.payload.settingDataInfo[\"function-setting-user-select-038\"].selectedValue +\n    \"&var.deviceId=\" + context.global.panasonic.deviceId + \n    \"&var.preOperation=\" + msg.payload.settingBackgroundData[\"0x80\"].value +\n    \"&var.preMode=\" + msg.payload.settingBackgroundData[\"0xE0\"].value +\n    \"&var.preTank=\" + msg.payload.settingBackgroundData[\"0xE1\"].value +\n    \"&shiesuahruefutohkun=\" + context.global.panasonic.shiesuahruefutohkun +\n    \"' --compressed ;\";\n    \n    msg.payload = Newpayload;\n    context.global.panasonic.wpValueChanged = 0;\n} else {\n    node.warn(\"no Value(s) changed\");\n    msg=null;\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1075.2857360839844,"y":1420.2857608795166,"wires":[["978d6560.8f8c08","395ce8e5.360d78"]]},{"id":"978d6560.8f8c08","type":"debug","z":"4656b25f.76fa2c","name":"","active":true,"console":false,"complete":"false","x":1365.2857360839844,"y":1260.2857608795166,"wires":[]},{"id":"cfdad3be.44373","type":"function","z":"4656b25f.76fa2c","name":"prepare get current settings","func":"if (context.global.panasonic.wpValueChanged == 1 ) {\n    node.warn(\"Value(s) changed\")\n    msg.payload = \" 'https://aquarea-service.panasonic.com/installer/api/function/setting/get' -H 'Pragma: no-cache' -H 'Origin: https://aquarea-service.panasonic.com' -H 'Accept-Encoding: gzip, deflate, br' -H 'Accept-Language: nl-NL,nl;q=0.9,en-US;q=0.8,en;q=0.7' -H 'User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/68.0.3440.106 Safari/537.36' -H 'Content-Type: application/x-www-form-urlencoded; charset=UTF-8' -H 'Accept: application/json, text/javascript, */*; q=0.01' -H 'Cache-Control: no-cache' -H 'X-Requested-With: XMLHttpRequest' -H 'Cookie: selectedGwid=\"+ context.global.panasonic.Gwid+\"; selectedDeviceId=\"+ context.global.panasonic.deviceId +\"; enduserId=\"+ context.global.panasonic.enduserId +\";' -H 'Connection: keep-alive' -H 'Referer: https://aquarea-service.panasonic.com/installer/functionSetting' --data 'var.deviceId=\"+ context.global.panasonic.deviceId +\"&shiesuahruefutohkun=\"+ context.global.panasonic.shiesuahruefutohkun +\"' --compressed\"    \n} else {\n    msg=null;    \n}\nreturn msg;\n    \n","outputs":1,"noerr":0,"x":355.2857360839844,"y":1420.2857608795166,"wires":[["9f96e846.83b658"]]},{"id":"9f96e846.83b658","type":"exec","z":"4656b25f.76fa2c","command":"curl -b /tmp/cookie.txt","addpay":true,"append":"","useSpawn":"","name":"Ophalen GET","x":615.2857360839844,"y":1420.2857608795166,"wires":[["f57b9f38.b9153"],[],[]]},{"id":"f57b9f38.b9153","type":"json","z":"4656b25f.76fa2c","name":"","x":805.2857360839844,"y":1420.2857608795166,"wires":[["cfcef25.61e7d1","d249eb78.00ea18"]]},{"id":"892068d.6c64f98","type":"inject","z":"4656b25f.76fa2c","name":"Every minute","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"x":107.28573608398438,"y":1418.2857608795166,"wires":[["cfdad3be.44373"]]},{"id":"d249eb78.00ea18","type":"debug","z":"4656b25f.76fa2c","name":"","active":true,"console":false,"complete":"false","x":1015.2857360839844,"y":1340.2857608795166,"wires":[]},{"id":"395ce8e5.360d78","type":"exec","z":"4656b25f.76fa2c","command":"curl -b /tmp/cookie.txt","addpay":true,"append":"","useSpawn":"","name":"Verzenden Set","x":1375.2857360839844,"y":1420.2857608795166,"wires":[["7bc9558b.9a999c"],[],[]]},{"id":"7bf402aa.19414c","type":"debug","z":"4656b25f.76fa2c","name":"","active":true,"console":"false","complete":"true","x":1845.2857360839844,"y":1320.2857608795166,"wires":[]},{"id":"7bc9558b.9a999c","type":"json","z":"4656b25f.76fa2c","name":"","x":1645.2857360839844,"y":1400.2857608795166,"wires":[["7bf402aa.19414c"]]},{"id":"10585757.b38859","type":"mqtt in","z":"4656b25f.76fa2c","name":"","topic":"domoticz/out/#","broker":"c61d6a73.c55788","x":223.28573608398438,"y":1611.2857608795166,"wires":[["f4f07266.cda67"]]},{"id":"114eba78.4a3036","type":"debug","z":"4656b25f.76fa2c","name":"","active":true,"console":"false","complete":"false","x":1053.2857360839844,"y":1611.2857608795166,"wires":[]},{"id":"f4f07266.cda67","type":"json","z":"4656b25f.76fa2c","name":"","x":453.2857360839844,"y":1611.2857608795166,"wires":[["9bdf4899.49b248"]]},{"id":"9bdf4899.49b248","type":"function","z":"4656b25f.76fa2c","name":"check OnOff/TargetTemp/SilentMode","func":"//node.warn(msg.payload.idx)\n\nif (msg.payload.idx===1704) {  // Silent Mode\n    node.warn(msg.payload);\n    \n    var silentMode = \"0x01\";\n    \n    if (msg.payload.svalue1 == \"0\")    {\n        silentMode = \"0x01\";   \n    } else if (msg.payload.svalue1 == \"10\")    {\n        silentMode = \"0x02\";\n    } else if (msg.payload.svalue1 == \"20\")    {\n        silentMode = \"0x03\";\n    } else if (msg.payload.svalue1 == \"30\")    {\n        silentMode = \"0x04\";\n    }\n    if (silentMode != context.global.panasonic.wpSilentMode){\n            context.global.panasonic.wpValueChanged = 1;\n            context.global.panasonic.wpSilentMode = silentMode;                \n    }\n    \n\n} else if (msg.payload.idx===1702) {  // TargetTemp\n    \n    node.warn(msg.payload);\n\n    var TempInDec = parseInt(msg.payload.svalue1);\n    \n    if ((TempInDec > 19) && (TempInDec < 56)) {\n        var TempInHex = \"0x\" + parseInt(TempInDec+128,10).toString(16).toUpperCase();\n   \n        if (TempInHex != context.global.panasonic.wpTargetTemp){\n            context.global.panasonic.wpValueChanged = 1;\n            context.global.panasonic.wpTargetTemp = TempInHex;                \n        }\n\n    }\n    \n    \n} else if (msg.payload.idx===1703) {      // OnOff\n    \n    node.warn(msg.payload);\n    var switchOnOff = \"0x0\" + (msg.payload.nvalue + 1);\n\n    if (switchOnOff != context.global.panasonic.wpOnOff){\n            context.global.panasonic.wpValueChanged = 1;\n            context.global.panasonic.wpOnOff = switchOnOff;                \n    }\n    \n} else {\n //   node.warn(\"other device\")\n}\nreturn null;","outputs":1,"noerr":0,"x":793.2857360839844,"y":1611.2857608795166,"wires":[["114eba78.4a3036"]]}]